* {
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: "tifont";
    src: url("/fonts/たいぷ.ttf");
}

body {
    width: 100%;
    list-style: none;
    background-color: #fffbf9;
}

#loading {
    width: 100vw;
    height: 100vh;
    transition: all 1s;
    background-color: #eeb262;

    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999;
}

.spinner {
    width: 100px;
    height: 100px;
    margin: 200px auto;
    background-color: #fff;
    border-radius: 100%;
    animation: sk-scaleout 1.0s infinite ease-in-out;
}

.loaded {
    opacity: 0;
    visibility: hidden;
}

/* ローディングアニメーション */
@keyframes sk-scaleout {
    0% {
        transform: scale(0);
    }

    100% {
        transform: scale(1.0);
        opacity: 0;
    }
}


.sp {
    display: none;
}

p {
    color: #808080;
}

.tr {
    position: absolute;
    top: 0;
}

.tr:hover {
    transform: rotate(2deg);
}


section {
    position: relative;
}


/*firstview*/
.firstview-logo {
    width: 15%;
    padding: 60px 0 0 8vw;
}

.firstview-img {
    width: 70%;
    float: right;
}

header {
    position: relative;
}

header h3 {
    clear: both;
    font-family: "tifont";
    color: #eeb262;
    font-size: 42px;
    padding: 80px 0 0 10%;
}

header p {
    padding: 16px 0 0 10%;
    line-height: 30px;
}

/*tr*/

.fr-cloud {
    width: 25%;
    top: 200px;
}

.fr-book {
    width: 15%;
    top: 75%;
    right: 15%;
}

/*profile*/
.profile {
    display: inline-block;
    margin: 120px auto 100px;
    width: 950px;
    display: flex;
    align-items: center;
    /*    background-color: #222;*/
}

.profile span {
    display: inline-block;
    font-size: 24px;
    font-family: "tifont";
    padding-bottom: 16px;
}

.profile img {
    width: 380px;
    /*    padding: 120px 0 0 130px;*/
}

.profile p {
    padding-left: 20px;
    padding-right: 4vw;
    font-family: "ゴシック・ドゥR";
    line-height: 24px;
}

/*tr*/

.pr-cloud {
    width: 20%;
    top: 280px;
    left: 7%;
}

/*article*/

.article {
    clear: both;
    padding: 50px 0;
    width: 600px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.article img {
    width: 550px;
    margin: 0 auto;
}

.article span {
    display: inline-block;
    color: #808080;
    padding: 20px 0 8px;
    font-size: 24px;
    font-family: "tifont";
}

.article p {
    text-align: left;
}

.article-top {
    /*    background-color: #222;*/
    margin: 0 0 40px 15%;
}

.article-middle {
    /*    background-color: #333;*/
    margin: 50px 18% 50px auto;
}

.article-middle p {
    padding-top: 20px;
}

.article-bottom {
    /*    background-color: #444;*/
    margin: 0 0 40px 15%;
}

/*tr*/

.ar-top-curry {
    width: 18%;
    top: 30%;
    right: 18%;
}

.ar-top-cloud {
    width: 20%;
    top: 50%;
    right: 10%;
}

.ar-md-cloud {
    width: 25%;
    top: 40%;
    left: 10%;
}

.ar-bt-tr {
    width: 25%;
    top: 20%;
    right: 10%;
}

/*flow*/

.flow {
    /*    background-color: #222;*/
    background-image: url(/img/article-flow-bg.png);
    background-size: contain;
    background-repeat: no-repeat;
    width: 550px;
    height: 250px;
    margin: 100px 15% 100px auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.flow p {
    text-align: center;
    line-height: 40px;
    font-size: 18px;
}

/*tr*/

.fl-tr {
    width: 30%;
    left: 8%;
}


/*content-box*/
.content-box {
    background-image: url(/img/sec-bg_1.png);
    background-size: contain;
    background-repeat: no-repeat;
    width: 770px;
    height: 550px;
    text-align: center;
    margin: 0 auto;
}

.content-box h3 {
    color: #eeb262;
    font-size: 38px;
    font-family: "tifont";
    padding: 105px 0px 20px;
}

.content-box p {
    width: 350px;
    line-height: 30px;
    text-align: left;
    padding-left: 20px;
}

.con-button {
    display: inline-block;
    width: 200px;
    padding: 24px 0px 0px;
    transition: 0.2s;
}

.con-button:hover {
    width: 210px;
}

.content-txt {
    /*    background-color: #fff;*/
    float: left;
    padding: 0px 10px 0px 20px;
    margin-left: 88px;
}

.cover-img {
    width: 180px;
    float: left
}

.about .cover-img {
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.04);
}


/*footer*/

.wave {
    width: 100%;
    margin-top: 50px;
    margin-bottom: -7px;
}

footer {
    background-color: #fff4ed;
    padding: 0px 0px 40px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

footer li {
    /*    padding: 0px;*/
    display: inline-block;
    float: left;
}

footer li a {
    text-decoration: none;
    color: #808080;
    font-family: "ゴシック・ドゥR";
    padding: 20px;
    transition: 0.2s;
}

footer li a:hover {
    color: #eeb262;
}


footer img {
    width: 18%;
    margin: 30px 5% 30px 10%;
}

/*js*/

.fadein {
    opacity: 0;
    transition: 2s;
}

.fadein.scrollin {
    opacity: 1;
}

@media all and (max-width: 1024px) {}

@media all and (max-width: 896px) {}

@media all and (max-width: 500px) {

    .fadein {
        opacity: 1;
        transition: 2s;
    }

    .sp {
        display: block;
    }

    .pc {
        display: none;
    }

    .firstview-img {
        width: 100%;
        float: none;
        position: relative;
    }

    /*
    .firstview-logo {
        width: 30%;
        padding: 0;
        position: absolute;
        top: 45%;
        right: 15px;
    }
*/

    header h3 {
        clear: both;
        font-size: 24px;
        margin-top: 50px;
        padding: 0px 0 0 5%;
    }

    header p {
        padding: 10px 0 0 5%;
        font-size: 12px;
        line-height: 17px;
    }

    /*    profile*/
    .profile {
        display: inline-block;
        margin: 60px auto 0;
        width: 83%;
        display: flex;
        align-items: center;
        /*    background-color: #222;*/
    }

    .profile span {
        display: inline-block;
        font-size: 13px;
        padding-bottom: 5px;
    }

    .profile img {
        width: 35%;
        padding: 0;
    }

    .profile p {
        padding: 0 0 0 12px;
        font-size: 10px;
        line-height: 17px;
    }

    /*article*/

    .sp-flex {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .article {
        /*        background-color: #222;*/
        padding: 0;
        width: 80%;
    }

    .article img {
        width: 80%;
        margin-top: 80px;
    }

    .article span {
        display: inline-block;
        padding: 16px 0 8px;
        font-size: 12px;
        font-family: "tifont";
    }

    .article p {
        font-size: 11px;
        text-align: left;
    }

    .article-top {
        /*    background-color: #222;*/
        margin: 0;
    }

    .article-middle {
        /*    background-color: #333;*/
        margin: 0;
    }

    .article-bottom {
        /*    background-color: #444;*/
        margin: 0;
    }

    /*flow*/

    .flow {
        width: 80%;
        height: 140px;
        margin: 100px auto 0px;
    }

    .flow p {
        line-height: 22px;
        font-size: 12px;
    }

    /*    con*/

    .content-box {
        width: 100%;
        background-image: url(none);
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .content-box h3 {
        font-size: 22px;
        padding: 50px 0px 0px;
    }

    .content-box p {
        font-size: 12px;
        width: 300px;
        line-height: 30px;
        padding-left: 0px;
    }

    .con-button {
        width: 200px;
        padding: 24px 0px 0px;
        margin-bottom: 0px;
    }

    /*
.con-button:hover {
    width: 210px;
}
*/

    .content-txt {
        /*    background-color: #fff;*/
        display: inline-block;
        float: none;
        padding-top: 10px;
        margin: 0 auto;
    }

    .con-about {
        margin: 0 0 40px 0;
        height: 560px;
    }

    .con-about h3 {
        padding: 100px 0 20px;
    }

    .con-about .cover-img {
        width: 40%;
    }

    .con-about .con-button {
        padding-bottom: 50px;
    }

    /*footer*/

    footer {
        background-color: #fff4ed;
        height: 130px;
        padding: 0px 0px 0px;
        text-align: left;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    footer img {
        width: 100%;
        margin: 0px;
    }

    footer nav {
        float: left;
        margin: 0 30px 0 0;
    }

    footer li {
        padding: 4px;
        display: block;
        font-size: 12px;
    }

    .footer-logo {
        width: 42%;
        float: none;
    }

    footer li a {
        padding: 0;
    }

    .wave {
        width: 100%;
    }

    /*    tr*/
    .fr-book {
        width: 22%;
        top: 330px;
        right: 8%;
    }

    .ar-top-curry {
        width: 24%;
        top: 440px;
        right: 8%;
    }

    .ar-bt-tr {
        width: 20%;
        top: 30px;
        left: 5%;
    }

    .ab-person {
        width: 22%;
        top: 210px;
        right: 16px;
    }

    .fl-tr-sun {
        width: 30%;
        top: -110px;
        right: 5%;
    }
}
