* {
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: "tifont";
    src: url("/fonts/たいぷ.ttf");
}


body {
    width: 100%;
    list-style: none;
    background-color: #fffbf9;
}

p {
    color: #808080;
    font-family: "ゴシック・ドゥR";
}

.tr{
    position: absolute;
    top: 0;
}

/*header*/
.top-img {
    display: block;
    width: 70%;
    position: relative;
    margin: 50px auto 70px;
}

.top-logo {
    width: 40%;
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translateX(-50%);
}


/* intro*/
.intro {
/*    background-color: #fff4ed;*/
    position: relative;
}

.intro h2 {
    color: #eeb262;
    text-align: center;
    font-size: 62px;
    font-family: "tifont";
    padding: 100px 0px 40px;
}

.intro p {
    text-align: center;
    font-size: 20px;
    line-height: 50px;
    padding-bottom: 100px;
    letter-spacing: 2px;
}

/*tr*/

.intro-cloud{
    width: 200px;
    top:170px;
    left: 100px;
}

.intro-deer{
    width: 200px;
    top:280px;
    right: 150px;
}


/*content-box*/
.content-box {
    background-image: url(img/sec-bg_1.png);
    background-size: contain;
    background-repeat: no-repeat;
    width: 770px;
    height: 550px;
    text-align: center;
}

.content-box h3 {
    color: #eeb262;
    font-size: 38px;
    font-family: "tifont";
    padding: 105px 0px 20px;
}

.content-box p {
    width: 350px;
    line-height: 30px;
    text-align: left;
    padding-left: 20px;
}

.con-button {
    display: inline-block;
    width: 200px;
    padding: 24px 0px 0px;
}

.content-txt {
    /*    background-color: #fff;*/
    float: left;
    padding: 0px 20px 0px 20px;
    margin-left: 88px;
}

.cover-img {
    width: 170px;
    float: left;
}

/* article*/

.article{
    position: relative;
}

.con-article {
    margin: 50px 10% 50px auto;
}

.con-article .cover-img{
    padding-top: 20px;
    width: 200px;
    
}
/*tr*/


.ar-wd{
    width: 330px;
    top: 70px;
    left: 90px;
}

/*about*/

.about{
    position: relative;
}

.con-about {
    margin: 0 0 40px 10%;
}

/*tr*/

.ab-person{
    width: 210px;
    top: 140px;
    right: 240px;
}

/*footer*/

footer {
    padding: 50px 0px 40px;
    text-align: center;
}

footer li {
    /*    padding: 0px;*/
    display: inline-block;
}

footer li a {
    text-decoration: none;
    color: #808080;
    font-family: "ゴシック・ドゥR";
    padding: 20px;
}

footer img {
    width: 15%;
    margin: 30px;
}
