* {
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: "tifont";
    src: url("/fonts/たいぷ.ttf");
}

@font-face {
    font-family: "pfont";
    src: url("/fonts/ゴシックドゥR.ttf");
}


body {
    width: 100%;
    list-style: none;
    background-color: #fffbf9;
}

.sp {
    display: none;
}

p {
    color: #808080;
    font-family: "pfont";
}

.tr {
    position: absolute;
    top: 0;
}

.tr:hover {
    transform: rotate(2deg);
}


section {
    position: relative;
}

/*firstview*/

.firstview-logo {
    width: 290px;
    padding: 60px 0 0 10%;
}

.firstview-img {
    width: 850px;
    float: right;
}

header h3 {
    clear: both;
    font-family: "tifont";
    color: #eeb262;
    font-size: 42px;
    padding: 80px 0 0 10%;
}

header p {
    padding: 16px 0 0 10%;
    line-height: 30px;
}

/*tr*/

.fr-cloud {
    width: 340px;
    top: 200px;
}

.fr-cloud-right {
    width: 350px;
    top: 500px;
    right: 200px;
}

/*about-sec*/
.about-sec {
    position: relative;
    margin-bottom: 200px;
}

.about-sec h4 {
    font-family: "tifont";
    color: #eeb262;
    font-size: 24px;
    text-align: center;
    padding-bottom: 20px;
}

.about-sec span {
    font-family: "ゴシック・ドゥR";
    color: #808080;
}

.sec-img {
    position: absolute;
    width: 430px;
    top: 250px;
    right: 210px;
}

.sec-txt {
    /*        background-color: #222;*/
    background-image: url(/img/about-bg.png);
    background-size: contain;
    background-repeat: no-repeat;
    width: 690px;
    height: 450px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 20px 0 0 12%;
}

.sec-txt p span {
    padding-bottom: 10px;
    font-family: "ゴシック・ドゥRE";
    font-size: 18px;
}

.sec-txt p {
    line-height: 28px;
    font-size: 14px;
}

/*subtitle*/
.subtitle {
    margin-top: 200px;
}

/*tr*/

.sub-sun {
    width: 180px;
    top: -110px;
    left: 350px;
}

/*
.sub-cloud{
    
}
*/

.sub-deer {
    width: 230px;
    top: -30px;
    right: 270px;
}

/*editer*/
/*tr*/

.ed-book {
    width: 180px;
    top: -90px;
    left: 350px;
}

.ed-person {
    width: 150px;
    top: -20px;
    right: 270px;
}

/*infomation*/
.info-con {
    /*    background-color: #222;*/
    width: 900px;
    margin: 40px auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.info-txt {
    padding: 0px 120px 0 100px;
    float: left;
    text-align: center;
}

.info-txt p {
    font-size: 20px;
    padding: 4px 0 30px;
}

iframe {
    border-radius: 30px;
}

/*tr*/

.info-cb {
    width: 180px;
    top: -80px;
    left: 250px;
}

.info-ice {
    width: 150px;
    top: 340px;
    left: 150px;
}

.info-cloud {
    width: 200px;
    top: 470px;
    right: 150px;
}

/*flow*/
.flow {
    /*    background-color: #222;*/
    background-image: url(/img/article-bg.png);
    background-size: contain;
    background-repeat: no-repeat;
    width: 900px;
    height: 320px;
    margin: 0px auto 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.flow p {
    line-height: 40px;
    text-align: center;
}

/*footer*/

footer {
    padding: 50px 0px 40px;
    text-align: center;
}

footer li {
    /*    padding: 0px;*/
    display: inline-block;
}

footer li a {
    text-decoration: none;
    color: #808080;
    font-family: "ゴシック・ドゥR";
    padding: 20px;
    transition: 0.2s;
}

footer li a:hover {
    color: #eeb262;
}


footer img {
    width: 15%;
    margin: 30px;
}

/*js*/

.fadein {
    opacity: 0;
    transition: 2s;
}

.fadein.scrollin {
    opacity: 1;
}


@media all and (max-width: 1024px) {}

@media all and (max-width: 896px) {}

@media all and (max-width: 500px) {

    .fadein {
        opacity: 1;
        transition: 2s;
    }

    .sp {
        display: block;
    }

    .pc {
        display: none;
    }

    .firstview-img {
        width: 100%;
        float: none;
        position: relative;
    }

    /*

    .firstview-logo {
        width: 30%;
        padding: 0;
        position: absolute;
        top: 19%;
        right: 15px;
    }
*/


    header h3 {
        clear: both;
        font-size: 24px;
        margin-top: 50px;
        padding: 0px 0 0 5%;
    }

    header p {
        padding: 10px 0 0 5%;
        font-size: 12px;
        line-height: 17px;
    }

    /*    about*/
    .about-sec {
        margin-bottom: 0px;
    }

    .about-sec h4 {
        font-size: 23px;
        padding: 40px 0 10px;
    }

    .sec-img {
        width: 40%;
        top: 250px;
        left: 10%;
    }

    .sec-txt {
        background-image: url(none);
        width: 80%;
        height: 170px;
        margin: 0 auto;
    }

    .sec-txt p span {
        font-size: 12px;
    }

    .sec-txt p {
        line-height: 17px;
        font-size: 11px;
    }

    /*subtitle*/
    .subtitle {
        margin-top: 20px;
        margin-bottom: 150px;
    }

    /*    editer*/

    .edi-sec {
        background-color: #fff4ed;
        padding-bottom: 150px;
        padding-top: 20px;
    }

    .edi-sec .sec-img {
        top: 270px;
    }

    /*infomation*/
    .info-con {
        /*    background-color: #222;*/
        width: 90%;
        margin: 0px auto 70px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .info h4 {
        padding: 60px 0 10px;
    }

    .info-txt {
        padding: 20px 0 0;
        float: none;
        text-align: center;
    }

    .info-txt p {
        font-size: 18px;
        padding: 0px 0 16px;
    }

    .info-txt span {
        padding: 20px;
    }

    iframe {
        padding-top: 24px;
        border-radius: 4px;
    }

    .flow {
        background-image: url(/img/sp-ab-fl-bg.png);
        width: 90%;
        height: 168px;
        margin: 0px auto 70px;
    }

    .flow p {
        font-size: 10px;
        line-height: 20px;
    }

    /*    footer*/

    footer {
        background-color: #fff4ed;
        height: 130px;
        padding: 0px 0px 0px;
        text-align: left;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    footer img {
        width: 100%;
        margin: 0px;
    }

    footer nav {
        float: left;
        margin: 0 30px 0 0;
    }

    footer li {
        padding: 4px;
        display: block;
        font-size: 12px;
    }

    .footer-logo {
        width: 42%;
        float: none;
    }

    footer li a {
        padding: 0;
    }

    .wave {
        width: 100%;
    }

    /*    tr*/
    .tr {
        width: 20%;
        top: 0;
    }

    .fr-cloud-right {
        width: 120px;
        top: 210px;
        right: 3%;
    }

    .sub-deer {
        width: 150px;
        top: 230px;
        right: 3%;
    }

    .ed-book {
        width: 90px;
        top: 20px;
        left: 5%;
    }

    .ed-person {
        width: 90px;
        top: 260px;
        right: 12%;
    }

    .info-cb {
        width: 90px;
        top: 30px;
        left: 5%;
    }

}
